# Autotools
/compile
Makefile.in
/Makefile
/src/Makefile
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

# Vim
*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
src/ssfs-srv

# ctags
tags

# coredump
core
